@import './abstracts/abstracts-dir.scss';
//
// :button:input:check-box:search-box:table:cursor:container:sidebar:modal:cards:tabs:typography:text //


.btn{


&.btn-light-primary {
  color: $primary-bg;
  background-color: #f7ebc8;
  border-color: transparent;
}
}














body {
  background: #EEF0F8;
  font-size: fontSize(13px) !important;
}

.material-icons{
  vertical-align: middle;
}


//@typography
.text-primary{
  color: $primary-bg !important;
}
.cursor-pointer{
  cursor:pointer;
}
.input-group{
  .input-group-prepend{
    .input-group-text{
      background: none;
      border-right: 0;
    }
  }
  .input-group-append{
    .input-group-text{
      background: none;
      border-left: 0;
    }
  }
}



//cards

.card{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  border-radius: 8px;
}